@model ICollection<TimeManagerClassLibrary.Models.LogedDaysModel>
@{
}

<main>
    <div class="text-center">
        @*<form action="/LogsDisplay/OnPost" method="post"><button action="post">Submitnew</button></form>*@
        @*<form asp-action="OnPost" asp-area="" asp-controller="LogsDisplay">
        <button action="post">Log Start/Stop</button>
        </form>*@
        @using (Html.BeginForm("OnPost", "LogsDisplay", FormMethod.Post))
        {
            <div class="form-group">
                <label>Comment</label>
                <input type="text" name="Comment" />
                <button type="submit" class="btn btn-primary"  value="Start/Stop">Start/Stop</button>
            </div>
        }
        <h2 class="display-1">Current Logs</h2>
            @if (@Model != null && @Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">UserId</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Time</th>
                            <th scope="col">Comment</th>
                        </tr> 
                    </thead>
                    <tbody>
                        @foreach(var day in Model)
                        {
                            @foreach (var log in day.Logs)
                            {
                            <tr>
                                <th scope="row">@log.Id</th>
                                <td>@log.UserId</td>
                                <td>@log.StartTime</td>
                                <td>@log.EndTime</td>
                                <td>@log.LogTime</td>
                                <td>@log.Comment</td>
                            </tr>
                            }
                    }
                    </tbody>
                </table>
            }
    </div>
</main>